# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project specific
# knowledge_base/
shards_cache.json

# Docker / Let's Encrypt
acme.json
letsencrypt/
